*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    box-shadow: 0px 0px 1px;
    border-radius: 15px;
}
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: chocolate;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-weight: 100;
     font-size: 40px;
}
.dis{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 2px;
    padding: 10px;
    font-weight: 100;
}
input{
    outline:none;
    padding: 7px;
    border: 1px solid silver;
}
input:hover{
    border: 1px solid chocolate;   
}
.pass{
    position: relative;
    width: 100%;
}
img{
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}
.pass input{
    width: 100%;
}
.sec{
    width: 100%;
    margin-bottom: 5px;
}
.submit{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: chocolate;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}