*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
div{
    width: 100%;
    height: 350px;
    background-image: url("pexels-pixabay-302769.jpg");
    background-position: center;
    background-size: cover;
}