*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}
.first{
    width: 100%;
    display: flex;
    padding: 0px;
    justify-content: flex-start;
    align-items:center;
    padding-right: 20px;
    margin-bottom: 10px;
}
.p_1{
    color: gray;
    font-size: 10px;
    font-weight: 700;
}
.text{
    width: 100%;
}
.logo{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.second{
    padding-right: 170px;
    width: 100vh;
    height: 30px;
    background-color: #E82B2D;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px ,0px;
}
.second p{
    color: white;
    font-family: 'Times New Roman', Times, serif;
      font-size: 9px;
}
.content{
    width: 100%;
    display: flex;
    flex-direction: column;
}
b{
    font-size: 9px;
}
.p_c{
  font-size: 8px;
  padding: 8px;
}
span{
    width: 100%;
    height: 1px;
    border: 1px dashed gray;
}
.compliant{
    padding-right: 40px;
    margin-top: 50px;
}
.compliant p{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}
.compliant p b{
color: #031937;
font-size: 13px;
}
.banner{
    padding-right: 130px;
    margin-top: 120px;
    width: 100vh;
    height: 50px;
    background-color: #E82B2D;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner p{
    font-size: 10px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}